<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>ACT</key>
		<dict>
			<key>0</key>
			<dict>
				<key>ACT</key>
				<array>
					<string>ACT</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>1</key>
	<dict>
		<key>NSW</key>
		<dict>
			<key>0</key>
			<dict>
				<key>NSW</key>
				<array>
					<string>NSW</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>NT</key>
		<dict>
			<key>0</key>
			<dict>
				<key>NT</key>
				<array>
					<string>NT</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>3</key>
	<dict>
		<key>QLD</key>
		<dict>
			<key>0</key>
			<dict>
				<key>QLD</key>
				<array>
					<string>QLD</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>4</key>
	<dict>
		<key>SA</key>
		<dict>
			<key>0</key>
			<dict>
				<key>SA</key>
				<array>
					<string>SA</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>5</key>
	<dict>
		<key>TAS</key>
		<dict>
			<key>0</key>
			<dict>
				<key>TAS</key>
				<array>
					<string>TAS</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>6</key>
	<dict>
		<key>VIC</key>
		<dict>
			<key>0</key>
			<dict>
				<key>VIC</key>
				<array>
					<string>VIC</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>7</key>
	<dict>
		<key>WA</key>
		<dict>
			<key>0</key>
			<dict>
				<key>WA</key>
				<array>
					<string>WA</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
